<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style media="screen">
    @font-face {
      font-family: 'Open Sans';
      font-weight: normal;
      font-style: normal;
    }

    html
    {
        overflow: auto;
        background-color: #fff;
        font-size: 14px;
    }

    body
    {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.5;
        color: #4d4e53;
        background-color: white;
    }

    input {
      padding: 16px 16px;
      margin: 16px;
    }

    a, a:visited, a:active {
        color: #0095dd;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    header
    {
        text-align: center;
        display: block;
        padding: 0px 4px;
    }

    h1
    {
      font-weight: 200;
      margin: 0;
        font-family: 'Open Sans Light', sans-serif;
        font-size: 48px;
        letter-spacing: -2px;
        margin: 12px 24px 20px;
    }

    button {
      padding: 14px 20px;
      margin: 8px 0;
      border-color: gray;
      cursor: pointer;
      opacity: 0.9;
      border-radius: 10%;
    }
    </style>
    <title>CS411Chat</title>
    <script>
      const chatInd = "<%= chatIndex %>"
    </script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type="module" src="chat.js">
    </script>
  </head>
  <body>
    <h1 id="chat-h1">Messages</h1>
    <div id="messages-list"></div>
    <form id="send-message-form">
      <input type="text" id="message-input">
      <button type="submit" name="send">Send</button>
    </form>
    <button id="logout_button" style="position: fixed; right: 0; top: 0; right: 30px; top: 30px;">Log out</button>
  </body>

  <script type="module" src="logout.js"></script>
</html>
