<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CS411Chat</title>
    <link rel="stylesheet" href="style.css">
    <script>
      const chatInd = "<%= chatIndex %>"
    </script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type="module" src="chat.js">
    </script>
  </head>
  <body>
    <h1 id="chat-h1">Messages</h1>
    <div id="messages-list"></div>
    <form id="send-message-form">
      <input type="text" id="message-input">
      <button type="submit" name="send">Send</button>
    </form>
    <button id="logout_button" style="position: fixed; right: 0; top: 0; right: 30px; top: 30px;">Log out</button>
  </body>

  <script type="module" src="logout.js"></script>
</html>
